@mixin light {
  color-scheme: light;

  --vue-color-focus: var(--vue-color-focus-light);
  --vue-color-primary: var(--vue-color-primary-light);
  --vue-color-text-on-primary: var(--vue-color-white);
  --vue-color-secondary: var(--vue-color-secondary-light);
  --vue-color-text-on-secondary: var(--vue-color-white);
  --vue-color-surface: var(--vue-color-surface-light);
  --vue-color-border: var(--vue-color-border-light);

  --doc-color-background: var(--color-gray-100);
}

:root {
  @include light;
}

[color-scheme='light'] {
  @include light;
}
