%colors {
  --color-white: #ffffff;
  --color-blue-100: #4299e14c;
  --color-blue-300: #3082ce;
  --color-gray-100: #f8f9fa;
  --color-gray-300: #cbd5e0;
  --color-green-500: #41b883;
  --color-slate-500: #34495e;
  --color-slate-900: #202b38;
}
