%elevation {
  --shadow-x-small: 0 1px 0 #0d131e0d;
  --shadow-small: 0 1px 2px #0d131e1a;
  --shadow-medium: 0 2px 4px #0d131e1a;
  --shadow-large: 0 2px 8px #0d131e1a;
  --shadow-x-large: 0 4px 16px #0d131e1a;
  --shadow-outline: 0 0 0 3px #4299e14c;
}
