%font-families {
  --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: SFMono-Regular, Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
}

%font-sizes {
  --font-size-xx-small: 0.625rem;
  --font-size-x-small: 0.75rem;
  --font-size-small: 0.9rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 1.5rem;
  --font-size-xx-large: 2.25rem;
}

%font-weight {
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

%letter-spacing {
  --letter-spacing-dense: -0.015em;
  --letter-spacing-normal: normal;
  --letter-spacing-loose: 0.1em;
}

%line-height {
  --line-height-dense: 1.4;
  --line-height-normal: 1.8;
  --line-height-loose: 2.2;
}

%typography {
  @extend %font-families;
  @extend %font-sizes;
  @extend %font-weight;
  @extend %letter-spacing;
  @extend %line-height;
}
