%border-radius {
  --border-radius-small: 0.125rem;
  --border-radius-medium: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-radius-x-large: 1rem;
  --border-radius-circle: 50%;
  --border-radius-pill: 9999px;
}
